.home-container {
  padding-top: 0 !important;
}

#wrapper h1 {
  color: rgb(100,100,100);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  font-size: 32px;
}
.home-banner {
  position: relative;
}
.home-banner h1 {
  color: white;
}
.home-nav {
  background-color: transparent;
  position: fixed;
  z-index: 1;
}
.navbar-wagon-black {
  background-color: #313638 !important;
}
.home-video {
  position: relative;
}
.home-card-title {
  margin-bottom: 0px;
  color: #efefef;
  margin-left: 5px;
  font-size: 16px;
  position: absolute;
  top: 150px;
  z-index: 1;
}
.home-videos {
  padding-top: 20px;
  background: radial-gradient(circle, #d2d4d4, #efefef);
  border-radius: 5px;
}
.home-videos-each {
  background-color: #efefef;
  border-radius: 10px;
}
.home-video-cards-center {
  display: flex;
  justify-content: space-around;
}

.banner-button-field {
  border-radius: 5px;
  color: white;
  z-index: auto;
  width:128px;
  border: none;
  padding-left: 10px;
}

.banner-search-field {
  border-radius: 5px;
  color: black;
  z-index: auto;
  width:265px;
  font-family: "Mukta Malar";
  border: none;
  padding-left: 10px;
}
