.search-field {
  border-radius: 5px;
  color: black;
}

#wrapper h1 {
  margin-left: 30px;
  color: #15B097;
}

.home-banner {
  position: relative;
}
.home-banner h1 {
    color: white;
}

.home-nav {
  background-color: transparent;
  position: fixed;
  z-index: 1;
}
.navbar-wagon-black {
  background-color: #313638 !important;
}
