.upload {
  border: 1px dashed #C4C4C4;
  margin-top: 50px;
  height: 300px;
}
.fas{
  font-size: 100px;
  color: #15B097;
  margin-top: 75px;
}
.upload-options {
  border: 1px dashed #C4C4C4;
  margin-top: 20px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.fab {
  font-size: 50px;
  color: #15B097;
}
