.container {
  padding-top:70px;
}

.user-container {
  margin: 30px;
  display: flex;
  background-color: #F6F8FA;
  flex-direction: column;
  border-radius: 20px;
}

.user-image {
  margin: 10px;

}

.user-content {
  margin: 10px;
  position: absolute;
  left: 250px;
  top: 80px;

}

.video-container {
  margin:20px;
  background-color: #F6F8FA;
  border-radius: 20px;
}

.user-name {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

.name {
  position: absolute;
  left: 250px;
  top: 10px;
}

a:hover {
  text-decoration: none;
}

.video-title {
  margin:10px;
  display: flex;
  position: relative;
  .green-button {
    flex-direction: row;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 15px;
    height: 30px;
    width: 90px;
  }
}

.user-page-video {
  a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
}

.user-page-video-card {

}


