.video-title-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-title {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  margin-top: 75px;
  margin-left: 25px;
  margin-bottom: 0;
  padding-bottom: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.video-owner {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.show-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.main-video {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
a :hover{
  text-decoration: none;
  color: #15B097;
}
.video-info {
  display: flex;
  flex-direction: column;
  justify-coontent: space-around;
}
.vid-desc {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
.vid-tags {
  margin-left: 10px;
  margin-top: 15px;
}
.video-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 720px;
  p {
    padding-top: 20px;
  }
  h4 {
    color: #A6A6A6;
  }
}

.video-link {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}


.fa-download {
  font-size: 50px;
  color: #535759;
  margin-left: 30px;
}

.tags-and-download {
  display: flex;
  flex-content: row;
}
