<h1>User show page</h1>

<%= @user.email %>
<p></p>



<div class="user-banner">
  <div class="user-content">
    <h1><%=@user.first_name%>NAME<%= @user.last_name %> </h1>

    <%= link_to 'Add new video', new_video_path %>
  </div>
</div>

