<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Filter Search</h2>
      <h4>Duration</h4>
      <h4>Category</h4>
      <h4>Location</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1>Results</h1>
    </div>
  </div>

  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-xs-12 col-md-6">
        <%= link_to video_path(video) do %>
          <div class="card">
          <div class="video"> <%= cl_video_tag(video.cloudinary_url, :width=>310, :crop=>"scale", autoplay: false) %></div>
          </div>
        <% end  %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Home", root_path %>
<%= link_to "Show one video",
