<div class="navbar-wagon">
  <p>Navbar</p>
</div>
<div class="container">
  <h1>Upload your videos</h1>
  <div class="upload text-center">
    <i class="fas fa-cloud-upload-alt"></i>
    <br>
    <%= simple_form_for(@video) do |f| %>
    <div class="form-actions text-center">
      <div class="input-button">
      <%= f.input :video %>
      </div>
    <%= f.submit "Add video"%>
    </div>
  </br>
    </div>
    <% end %>
  </div>

</div>

