<div class="navbar-wagon">
  <p>Navbar</p>
</div>
<div class="container">
  <h1>Upload your videos</h1>
  <div class="upload text-center">
    <i class="fas fa-cloud-upload-alt"></i>
    <br>
    <div class="btn btn-lg">Choose files to upload</div>
  </div>
  <div class="upload-options">
    <i class="fab fa-google-drive"></i>
    <i class="fab fa-dropbox"></i>
  </div>
</div>

