
<div class="container">
<h1><%= @video.title %></h1>
<p> @video.user.first_name </p>
<!-- This link https://cloudinary.com/documentation/cloudinary_video_player#adding_a_video_player_and_video_to_your_page explains how to upload videos from Cloudinary
@video.url should go to the cloudinary url of the video -->
<%= url('image_path "placeholder.jpeg"')%>
<h2><%= @video.description %></h2>
