<div class="container">
  <h1>Clipper</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @videos.each do |video| %>
        <div class="card">
          <%= video.title %>
        </div>
      <% end %>
    </div>
  </div>

</div>
