/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: rgba(50,183,150,0.3);
}
.alert-warning {
  background: rgba(238,95,91,0.3);
}
.alert.alert-server {
  margin-bottom: 0;
  border-radius: 0;
  margin-top: 70px;
  position: absolute;
  width: 100vw;
  border: none;
};
