.green-button {
  background-color: #15B097;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.green-button-large {
  background-color: #15B097;
  color: white;
  height: 50px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.red-button {
  background-color: #EB5757;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
